.settings/
/target/
.classpath
.project
log.out
report/technical_report.synctex.gz
report/technical_report.log
report/technical_report.aux
report/technical_report.fls
report/technical_report.fdb_latexmk
report/technical_report.blg
report/technical_report.bbl
presentation/presentation_1.toc
presentation/presentation_1.synctex.gz
presentation/presentation_1.snm
presentation/presentation_1.out
presentation/presentation_1.nav
presentation/presentation_1.log
presentation/presentation_1.aux
